<!-- Секция с анимацией -->
<section class="anim-section integrate">
    <div class="sticky">
        <div class="icons icons-in integrate__animation">
            <div class="icon icon-in integrate__animation-item integrate__animation-item--1">
                <div class="integrate__animation-image">
                    <img src="./images/integrate-1.svg" width="60" height="60" alt="CRM integration" /> 
                    <h3>CRM</h3>
                </div>
            </div>
            <div class="icon icon-in integrate__animation-item integrate__animation-item--2">
                 <div class="integrate__animation-image">
                    <img src="./images/integrate-2.svg" width="60" height="60" alt="Analytics integration" />
                    <h3>Analytics</h3>
                </div>
            </div>
            <div class="icon icon-in integrate__animation-item integrate__animation-item--3">
                <div class="integrate__animation-image">
                    <img src="./images/integrate-3.svg" width="60" height="60" alt="Database integration" />
                    <h3>Database</h3>
                </div>
            </div>
        </div>
    </div>
     <h2 class="section-title">
            Integrate anything
    </h2>
</section>

<section class="ship">
    <div class="ship__wrapper">
        <h2 class="section-title">
            ship everywhere
        </h2>
        <div class="ship__animation-container">
            <ul class="ship__animation" role="list">
                <li class="ship__animation-item ship__animation-item--1" data-animation-delay="0.2">
                    <figure class="ship__animation-image">
                        <img src="./images/ship-1.svg" width="39" height="34" alt="Ecommerce integration illustration" loading="lazy" />
                        <figcaption>
                            <h3>Ecommerce</h3>
                        </figcaption>
                    </figure>
                </li>
                <li class="ship__animation-item ship__animation-item--2" data-animation-delay="0.4">
                    <figure class="ship__animation-image">
                        <img src="./images/ship-2.svg" width="24" height="40"  alt="Applications integration illustration" loading="lazy" />
                        <figcaption>
                            <h3>Applications</h3>
                        </figcaption>
                    </figure>
                </li>
                <li class="ship__animation-item ship__animation-item--3" data-animation-delay="0.6">
                    <figure class="ship__animation-image">
                        <img src="./images/ship-3.svg" width="38" height="38" alt="Multi-Tenant integration illustration" loading="lazy" />
                        <figcaption>
                            <h3>Multi-Tenant</h3>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>