<!-- Animation container for both sections -->
<div class="intro integrate">
    <div class="intro-viewport">
        <!-- Background parallax -->
        <div class="bg-parallax"></div>

        <!-- First title (Integrate) -->
        <h2 class="title title-1 section-title test-cache-clear">
            Integrate anything
        </h2>

        <!-- Second title (Ship) -->
        <h2 class="title title-2 section-title">
            Ship everywhere
        </h2>

        <!-- First group icons (integrate items) -->
        <div class="icons-group icons-group-1 integrate__animation">
            <div class="icon-box group1-crm integrate__animation-item integrate__animation-item--1">
                <div class="icon integrate__animation-image">
                    <img src="./images/integrate-1.svg" width="60" height="60" alt="CRM integration" /> 
                    <h3>CRM</h3>
                </div>
            </div>
            <div class="icon-box group1-analytics integrate__animation-item integrate__animation-item--2">
                <div class="icon integrate__animation-image">
                    <img src="./images/integrate-2.svg" width="60" height="60" alt="Analytics integration" />
                    <h3>Analytics</h3>
                </div>
                
            </div>
            <div class="icon-box group1-database integrate__animation-item integrate__animation-item--3">
                <div class="icon integrate__animation-image">
                    <img src="./images/integrate-3.svg" width="60" height="60" alt="Database integration" />
                    <h3>Database</h3>
                </div>
                
            </div>

                <!-- First title (Integrate) -->
            <h2 class="section-title section-title-mobile">
                Integrate anything
            </h2>
        </div>

        <!-- Second group icons (ship items) -->
        <div class="icons-group icons-group-2 ship__animation">
             <!-- Second title (Ship) -->
            <h2 class="section-title section-title-mobile">
                Ship everywhere
            </h2>
            <div class="icon-box group2-ecommerce ship__animation-item ship__animation-item--1">
                <div class="icon ship__animation-image">
                    <img src="./images/ship-1.svg" width="39" height="34" alt="Ecommerce integration illustration" />
                    <h3>Ecommerce</h3>
                </div>
            </div>
            <div class="icon-box group2-applications ship__animation-item ship__animation-item--2">
                <div class="icon ship__animation-image">
                    <img src="./images/ship-2.svg" width="24" height="40" alt="Applications integration illustration" />
                    <h3>Applications</h3>
                </div>
            </div>
            <div class="icon-box group2-multitenant ship__animation-item ship__animation-item--3">
                <div class="icon ship__animation-image">
                    <img src="./images/ship-3.svg" width="38" height="38" alt="Multi-Tenant integration illustration" />
                    <h3>Multi-Tenant</h3>
                </div>
            </div>
        </div>
    </div>
</div>