<section class="ship" aria-labelledby="ship-title">
    <h2 id="ship-title" class="section-title">ship everywhere</h2>
    <div class="ship__wrapper">
        <ul class="ship__animation" role="list">
            <li class="ship__animation-item ship__animation-item--1">
                <figure class="ship__animation-image">
                    <img src="/images/ship-1.svg" width="39" height="34" alt="Ecommerce integration illustration" loading="lazy" />
                    <figcaption>
                        <h3>Ecommerce</h3>
                    </figcaption>
                </figure>
            </li>
            <li class="ship__animation-item ship__animation-item--2">
                <figure class="ship__animation-image">
                    <img src="/images/ship-2.svg" width="24" height="40"  alt="Aplications integration illustration" loading="lazy" />
                    <figcaption>
                        <h3>Aplications</h3>
                    </figcaption>
                </figure>
            </li>
            <li class="ship__animation-item ship__animation-item--3">
                <figure class="ship__animation-image">
                    <img src="/images/ship-3.svg" width="38" height="38" alt="Multi-Tenant integration illustration" loading="lazy" />
                    <figcaption>
                        <h3>Multi-Tenant</h3>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>

