<section class="work" aria-labelledby="work-title">
    <div class="wrapper">
        <h2 id="work-title" class="section-title">Featured work</h2>
        <div class="work__box">
            <article class="work__item">
                <div class="work__item-content">
                    <h3>NotSoApe</h3>
                    <div class="work__item-container">
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Industry:</strong>
                                IT Services & Consulting
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Technical Stack:</strong>
                                Storyblok, Next.JS, Vercel
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Scope of Work:</strong>
                                Design, Website development, Maintenance
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="work__item-image">
                    <figure class="integrate__animation-image">
                        <picture>
                            <source srcset="../images/work-1.webp" type="image/webp">
                            <img src="/images/work-1.jpg" alt="NotSoApe project screenshot" width="900" height="460" loading="lazy">
                        </picture>
                        <figcaption>CMS</figcaption>
                    </figure>
                </div>
            </article>

            <article class="work__item">
                <div class="work__item-content">
                    <h3>EasyPark</h3>
                    <div class="work__item-container">
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Industry:</strong>
                                IT Services & Consulting
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Technical Stack:</strong>
                                Storyblok, Next.JS, Vercel
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Scope of Work:</strong>
                                Design, Website development, Maintenance
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="work__item-image">
                    <figure class="integrate__animation-image">
                        <picture>
                            <source srcset="/images/work-1.webp" type="image/webp">
                            <img src="/images/work-1.jpg" alt="EasyPark project screenshot" width="900" height="460" loading="lazy">
                        </picture>
                        <figcaption>Ecommerce</figcaption>
                    </figure>
                </div>
            </article>

            <article class="work__item">
                <div class="work__item-content">
                    <h3>GitNation</h3>
                    <div class="work__item-container">
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Industry:</strong>
                                IT Services & Consulting
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Technical Stack:</strong>
                                Storyblok, Next.JS, Vercel
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Scope of Work:</strong>
                                Design, Website development, Maintenance
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="work__item-image">
                    <figure class="integrate__animation-image">
                        <picture>
                            <source srcset="/images/work-1.webp" type="image/webp">
                            <img src="/images/work-1.jpg" alt="GitNation project screenshot" width="900" height="460" loading="lazy">
                        </picture>
                        <figcaption>Mobile App</figcaption>
                    </figure>
                </div>
            </article>

            <article class="work__item">
                <div class="work__item-content">
                    <h3>Secret Escapes</h3>
                    <div class="work__item-container">
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Industry:</strong>
                                IT Services & Consulting
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Technical Stack:</strong>
                                Storyblok, Next.JS, Vercel
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Scope of Work:</strong>
                                Design, Website development, Maintenance
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="work__item-image">
                    <figure class="integrate__animation-image">
                        <picture>
                            <source srcset="/images/work-1.webp" type="image/webp">
                            <img src="/images/work-1.jpg" alt="Secret Escapes project screenshot" width="900" height="460" loading="lazy">
                        </picture>
                        <figcaption>Ecommerce</figcaption>
                    </figure>
                </div>
            </article>

            <article class="work__item">
                <div class="work__item-content">
                    <h3>Caleffi</h3>
                    <div class="work__item-container">
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Industry:</strong>
                                IT Services & Consulting
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Technical Stack:</strong>
                                Storyblok, Next.JS, Vercel
                            </li>
                        </ul>
                        <ul class="work__item-list">
                            <li>
                                <strong class="work__item-span">Scope of Work:</strong>
                                Design, Website development, Maintenance
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="work__item-image">
                    <figure class="integrate__animation-image">
                        <picture>
                            <source srcset="/images/work-1.webp" type="image/webp">
                            <img src="/images/work-1.jpg" alt="Caleffi project screenshot" width="900" height="460" loading="lazy">
                        </picture>
                        <figcaption>Web Design</figcaption>
                    </figure>
                </div>
            </article>
        </div>
    </div>
</section>
