<div class="work">
    <div class="wrapper">
        <h2 class="work__title section-title">Featured work</h2>

        <div class="work__items">
             <article class="work__item">
                <div class="work__item-title">
                    <h3>NotSoApe</h3>
                    <span class="work__item-badge">CMS</span>
                </div>
                <div class="work__item-content">
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Industry</strong>
                        </li>
                        <li>
                            IT Services & Consultinig
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Technical Stack</strong>
                        </li>
                        <li>
                            Storyblok
                        </li>
                        <li>
                            Next.JS
                        </li>
                        <li>
                            Vercel
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Scope of Work</strong>
                        </li>
                        <li>
                            Design,
                        </li>
                        <li>
                            Website development,
                        </li>
                        <li>
                            Maintenance
                        </li>
                    </ul>
                </div>
                <div class="work__item-image">
                    <picture>
                        <source srcset="./images/work-1-mobile.webp" type="image/webp" media="(max-width: 767px)">
                        <source srcset="./images/work-1-mobile.jpg" type="image/jpeg" media="(max-width: 767px)">
                        <source srcset="./images/work-1.webp" type="image/webp" media="(min-width: 768px)">
                        <img src="./images/work-1.jpg" alt="NotSoApe project screenshot" width="900" height="460"
                            loading="lazy">
                    </picture>
                </div>
            </article>
            
            <article class="work__item">
                <div class="work__item-title">
                    <h3>EasyPark</h3>
                    <span class="work__item-badge">Ecommerce</span>
                </div>
                <div class="work__item-content">
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Industry</strong>
                        </li>
                        <li>
                            IT Services & Consultinig
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Technical Stack</strong>
                        </li>
                        <li>
                            Storyblok
                        </li>
                        <li>
                            Next.JS
                        </li>
                        <li>
                            Vercel
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Scope of Work</strong>
                        </li>
                        <li>
                            Design,
                        </li>
                        <li>
                            Website development,
                        </li>
                        <li>
                            Maintenance
                        </li>
                    </ul>
                </div>
                <div class="work__item-image">
                    <picture>
                        <source srcset="./images/work-2-mobile.webp" type="image/webp" media="(max-width: 767px)">
                        <source srcset="./images/work-2-mobile.jpg" type="image/jpeg" media="(max-width: 767px)">
                        <source srcset="./images/work-2.webp" type="image/webp" media="(min-width: 768px)">
                        <img src="./images/work-2.jpg" alt="NotSoApe project screenshot" width="900" height="460"
                            loading="lazy">
                    </picture>
                </div>
            </article>

            <article class="work__item">
                <div class="work__item-title">
                    <h3>GitNation</h3>
                    <span class="work__item-badge">Mobile App</span>
                </div>
                <div class="work__item-content">
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Industry</strong>
                        </li>
                        <li>
                            IT Services & Consultinig
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Technical Stack</strong>
                        </li>
                        <li>
                            Storyblok
                        </li>
                        <li>
                            Next.JS
                        </li>
                        <li>
                            Vercel
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Scope of Work</strong>
                        </li>
                        <li>
                            Design,
                        </li>
                        <li>
                            Website development,
                        </li>
                        <li>
                            Maintenance
                        </li>
                    </ul>
                </div>
                <div class="work__item-image">
                    <picture>
                        <source srcset="./images/work-3-mobile.webp" type="image/webp" media="(max-width: 767px)">
                        <source srcset="./images/work-3-mobile.jpg" type="image/jpeg" media="(max-width: 767px)">
                        <source srcset="./images/work-3.webp" type="image/webp" media="(min-width: 768px)">
                        <img src="./images/work-3.jpg" alt="NotSoApe project screenshot" width="900" height="460"
                            loading="lazy">
                    </picture>
                </div>
            </article>

            <article class="work__item">
                <div class="work__item-title">
                    <h3>Secret Escapes</h3>
                    <span class="work__item-badge">Ecommerce</span>
                </div>
                <div class="work__item-content">
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Industry</strong>
                        </li>
                        <li>
                            IT Services & Consultinig
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Technical Stack</strong>
                        </li>
                        <li>
                            Storyblok
                        </li>
                        <li>
                            Next.JS
                        </li>
                        <li>
                            Vercel
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Scope of Work</strong>
                        </li>
                        <li>
                            Design,
                        </li>
                        <li>
                            Website development,
                        </li>
                        <li>
                            Maintenance
                        </li>
                    </ul>
                </div>
                <div class="work__item-image">
                    <picture>
                        <source srcset="./images/work-4-mobile.webp" type="image/webp" media="(max-width: 767px)">
                        <source srcset="./images/work-4-mobile.jpg" type="image/jpeg" media="(max-width: 767px)">
                        <source srcset="./images/work-4.webp" type="image/webp" media="(min-width: 768px)">
                        <img src="./images/work-4.jpg" alt="NotSoApe project screenshot" width="900" height="460"
                            loading="lazy">
                    </picture>
                </div>
            </article>

            <article class="work__item">
                <div class="work__item-title">
                    <h3>Caleffi</h3>
                    <span class="work__item-badge">Web Design</span>
                </div>
                <div class="work__item-content">
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Industry</strong>
                        </li>
                        <li>
                            IT Services & Consultinig
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Technical Stack</strong>
                        </li>
                        <li>
                            Storyblok
                        </li>
                        <li>
                            Next.JS
                        </li>
                        <li>
                            Vercel
                        </li>
                    </ul>
                    <ul class="work__item-list">
                        <li>
                            <strong class="work__item-span">Scope of Work</strong>
                        </li>
                        <li>
                            Design,
                        </li>
                        <li>
                            Website development,
                        </li>
                        <li>
                            Maintenance
                        </li>
                    </ul>
                </div>
                <div class="work__item-image">
                    <picture>
                        <source srcset="./images/work-5-mobile.webp" type="image/webp" media="(max-width: 767px)">
                        <source srcset="./images/work-5-mobile.jpg" type="image/jpeg" media="(max-width: 767px)">
                        <source srcset="./images/work-5.webp" type="image/webp" media="(min-width: 768px)">
                        <img src="./images/work-5.jpg" alt="NotSoApe project screenshot" width="900" height="460"
                            loading="lazy">
                    </picture>
                </div>
            </article>
        </div>
    </div>
</div>