// Work item custom cursor
.work__item-image {
    cursor: url('../images/cursor.png') 40 20, pointer;
    
    a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        cursor: url('../images/cursor.png') 40 20, pointer;
        
        picture, img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

// GSAP Animation Section
.intro {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.intro-viewport {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title {
    position: absolute;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.1;
    z-index: 5;
    padding: 30px 50px;
    transition: all 0.3s ease;
}

.title-1 {
    opacity: 1;
    transform: scale(1) translateY(-100px);
}

.title-2 {
    opacity: 0;
    transform: scale(0.8) translateY(200px);
}

// Icons group styles
.icons-group {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: visible;
}

.icon-box {
    z-index: 12;
    position: relative;
    overflow: hidden;
}

.pin-spacer {
    width: 100% !important;
    margin: 0 !important;
    justify-content: center;
}
